<!DOCTYPE html>
<html>
<head>
  <title>Running Club</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/session">Sessions</a>
      </li>
      <li>
        <a href="/customer">Customers</a>
      </li>

    </ul>
  </nav>
  <section class="main">
  <%= yield %>
  </section>

</body>
</html>
