<!DOCTYPE html>
<html>
<head>
  <title>Running Club</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/manager">Manager Options</a>
      </li>
      <li>
        <a href="/member">Member Options</a>
      </li>


  </nav>
  <section class="main">
  <%= yield %>
  </section>

</body>
</html>
