<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
  <title>Running Club</title>
</head>
<body>

  <nav>


       <div class="button">
        <a href="/manager">Manager Options</a></div>

     <div class="button">
        <a href="/member">Member Options</a>
      </div>



  </nav>

  <section>
  <%= yield %>
  </section>

</body>
</html>
