<!DOCTYPE html>
<html>
<head>
  <title>Running Club</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/manager">Manager Options</a>
      </li>
      <li>
        <a href="/member">Member Options</a>
      </li>


      <p>
        Choose one of listed below options
      </p>
      <ul>
        <li>
          <a href="/manager/members">
            Members
          </a>
        </li>
        <li>
          <a href="/manager/members/new">
            Add new member
          </a>
        </li>
        <li>
          <a href="/manager/sessions">
            Sessions
          </a>
        </li>
        <li>
          <a href="/manager/sessions/new">
            Add new session
          </a>
        </li>
        <li>
          <a href="/manager/sessions/members">
            Show members per each session
          </a>
        </li>
    </ul>
  </nav>
  <section class="main">
  <%= yield %>
  </section>

</body>
</html>
