body {background-color: lightgrey;

 color: black;
}

h1 {
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px oliveDrab;
  font-style: italic;
  text-transform: uppercase;
  font-size: 40px;
}
.main {
background: url("/runninglogo.jpeg") no-repeat center center;
background-size: cover;

}

.main2 {
  color: darkblue;
  padding-left: 600px;
  padding-top: 70px;
  padding-bottom: 250px;
}

nav {
  padding-bottom: 20px;
  background-color: silver;
}


footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}


.button {
  display: inline-block;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: grey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1 {
  background-color: gray; /* Green */
  border: 2px solid black;
  color: white;
  padding: 3px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15%;
}



.button2 {
  background-color: gray; /* Green */
  border: 2px solid black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15%;
  width: 250px;
}
.button2:hover {
  background-color: green;
  color: white;
}

.button3 {
background-color: silver;
border: none;
color: black;
padding: 16px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.9;
transition: 0.3s;
cursor: pointer;
width: 250px;
}

.button3:hover {
  background-color: lightgreen;
  color: white;
}
.button4 {
background-color: grey;
font-weight: bold;
border: black;
color: black;
padding: 10px 20px;
text-align: center;
font-size: 15px;
margin: 2px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
cursor: pointer;
width: 250px;
}

.button6 {
background-color: grey;
font-weight: bold;
border: black;
color: black;
padding: 10px 20px;
text-align: center;
font-size: 15px;
margin: 2px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
cursor: pointer;
width: 160px;
}

.button5 {
  background-color: grey ;
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid grey;
  width: 160px;
}

.button5:hover {
  background-color: green;
  color: white;
}

.indextable {
  padding-left: 200px;
}
.indextable2 {
  padding-left: 10px;
}
.indexheading {
padding-left: 200px;

}
#main {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

/*
.logo {
  border-radius: 50%;
  border-color: black;
  border-width: medium;
  image: url("/runninglogo.jpg")
} */



.manager {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}
