

<div class ="image2">
<div class ="indexheading">
  <h1> Rock The Body Running Club </h1>
<h2> Club Sessions</h2>

</div>

<div class ="indextable">

<table>
  <tr>
    <th>Session name/</th>
    <th>Date </th>
    <th>Location</th>
    <th>Distance</th>
    <th></th>
 <tr> <% for session in @sessions %></tr>
 <td><h4>
      <%= session.name %><h4></td>
        <td><p><%=session.day%></p></td>
        <td><p><%=session.location%></p></td>
         <td><p><%=session.distance%> km</p></td>


<% end %>
</tr>
</table>
</div>
</div>
