<h1>Running Club Sessions</h1>
<p> Choose one of listed below session </P>
   <% for session in @sessions %>
  <ul>
    <li><a href="/manager/session/<%= session.id %>"><%= session.name %></a></li>
  
  </ul>
  <% end %>
