<div class ="button1" ><a href="/manager"> Index </a> </div>

<div class ="indexheading">
  <h1> Rock The Body Running Club </h1>
<h2> Club Sessions</h2>

</div>

<div class ="indextable">
<div class ="button1" ><a href = "member/show"> Sessions availability </a></div>
<table>
  <tr>
    <th><div class="button4aa">Session name</div></th>
    <th><div class="button4aa">Date </div></th>
    <th><div class="button4aa">Location</div></th>
    <th><div class="button4aa">Distance</div></th>
    <th></th>
 <tr> <% for session in @sessions %></tr>
 <td><div class="button3aa"><h4>
      <%= session.name %><h4></div></td>
        <td><div class="button3a"><p><%=session.day%></p></div></td>
        <td><div class="button3aa"><p><%=session.location%></p></div></td>

        <td><div class="button3a"><p><%=session.distance%> km</p></div></td>


<% end %>
</tr>
</table>
</div>
