<p>test</p>

<p>Session : </p>

  <ul>
    <% @sessions.each do |session| %>
    <li><%= session.name %> <%= session.day %></li>
    <p>Session availability: <%=session.availability(session.id)%>
<% end %></p>
  </ul>
