<h1>Running Club Management</h1>
<p>
  Choose one of listed below options
</p>
<ul>
  <li>
    <a href="manager/members">
      Members
    </a>
  </li>
  <li>
    <a href="manager/members/new">
      Add new member
    </a>
  </li>
  <li>
    <a href="manager/sessions">
      Sessions
    </a>
  </li>
  <li>
    <a href="manager/sessions/new">
      Add new session
    </a>
  </li>

  <li>
    <a href="/manager/bookings">
      All bookings
    </a>
  </li>
  <li>
    <a href="/manager/bookings/new">
      Add new booking
    </a>
  </li>

</ul>
