<h1>Running Club Management</h1>
<p> Choose one of listed below options </P>
<ul>
  <li>
<a href = "manager/members"> Members </a>  </li>
<li> <a href = "manager/members/new"> Add new member </a>  </li>
<li>
<a href = "manager/sessions"> Sessions </a>  </li>
<li> <a href = "manager/new"> Add new session </a>  </li>
</ul>
