<div class ="button1"> <a href="/"> Home </a> </div>

<div class = "indexheading"><h2>Running Club Management</h2></div>
<div class ="indextable">
<table>
  <tr>

  <th><h3>
    Choose one of listed below options
  </h3></th>
  <th></th>
  <tr></tr>
  <td>
  <div class ="button2">
   <a href="manager/members">
      Members management
    </a>
  </div>
  </td>

  <td>
  <div class ="button2">
  <a href="manager/members/new">
    Add new member
    </a>
  </div>
  </td>
  <tr></tr>
  <td>
  <div class ="button2">
   <a href="manager/sessions">
      Sessions management
    </a>
  </div>
  </td>

  <td>
  <div class ="button2">
    <a href="manager/sessions/new">
      Add new session
    </a>
  </div>
  </td>
  <tr></tr>
  <td>
 <div class ="button2">
    <a href="/manager/bookings">
      All bookings
    </a>
  </div>

  <td>
  <div class ="button2">
  <a href="/manager/bookings/new">
      Add new booking
    </a>
  </div>
  </td>
  <tr></tr>

  <td>
    <div class ="button2">
    <a href="/manager/bookings/management">
  Booking management
    </a>
  </div>
  </td>
  <td>
    <div class ="button2">
    <a href="/manager/bookings/stats">
  At glance
    </a>
  </div>
  </td>

</tr>
</table>
</div>
