  <a href="/manager"> Index </a>

<h1>Running Club Members</h1>

<p>
  Select member name to edit or delete details:
</p>
<table>
  <tr>
    <th>Member:</th>
    <th></th>
    <th>Session:</th>
    <th></th>

    
  <tr> <% @members.each do |member| %></tr>
  <td>  <a href="/manager/member/<%= member.id %>">
      <%= member.first_name %>
      <%=member.last_name%></a></td>
      <td>||</td>
       <td> <%member.sessions %>
         <% member.sessions.each do |session| %>
        <%= session.name %>
        <% end %></td>


    <%end%>

</tr>
</table>
