<form method="post" action="/manager/sessions/new/">
  <ul>
    <li>
      <label for="name-field">Session name:</label>
      <input type="text" name="first_name" id="first-name-field"/>
    </li>

    <li>
      <label for="location-field">Location:</label>
      <input type="text" name="location" id="location-field"/>
    </li>
    <li>
      <label for="distance-field">Distance:</label>
      <input type="number" name="distance" id="distance-field"/>
    </li>

    <li>
      <label for="level">Level:</label>
      <select name="level" id="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </li>

    <li>
      <label for="day">Day:</label>
      <input type="number" name="day" id="day-field"/>
    </li>

    <li>
      <label for="time">Time:</label>
      <input type="number" name="time_of_day" id="time-field"/>
    </li>

    <li>
      <label for="price">Price:</label>
      <input type="number" name="price" id="price-field"/>
    </li>

    <li>
      <label for="max_number">Max_number:</label>
      <input type="number" name="max_number" id="max_number-field"/>
    </li>

    <li>
      <input type="submit" value="Confirm Entry"/>
    </li>
  </ul>

</form>
