<form method="post" action="/manager/members">
  <ul>
    <li>
      <label for="first-name-field">First Name:</label>
      <input type="text" name="first_name" id="first-name-field"/>
    </li>
    <li>
      <label for="last-name-field">Last Name:</label>
      <input type="text" name="last_name" id="last-name-field"/>
    </li>
    <li>
      <label for="age">Age:</label>
      <input type="number" name="age" id="age-field"/>
    </li>
    <li>
      <label for="level">Level:</label>
      <select name="level" id="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </li>
    <li>
      <label for="town">Town:</label>
      <input type="text" name="town" id="town-field"/>
    </li>
    <li>
      <input type="submit" value="Confirm Entry"/>
    </li>
  </ul>
</form>
